@media (max-width: 765px)
    .container
        width: 600px
    .header
        height: 70px
        &__logo
            font-size: 25px
        &__wrapper
            height: 70px
            width: 600px
        &__burger
            margin-right: 15px
            span
                height: 2px
                width: 35px
                margin: 4px 0
    .menu
        top: calc(-100vh + 70px)
        &__item
            font-size: 25px
    .footer
        &__item
            height: 40px
            width: 40px
            img
                height: 20px
    .about
        &__header
            margin-top: 30px
        &__subheader
        &__descr
        &__team
            &__item
                margin-top: 30px
                img
                    width: 150px
                &_name
                    margin-top: 22px
                    font-size: 20px
            &__wrapper
                padding: 0 50px
                margin-top: 10px
                display: flex
                justify-content: space-between
                flex-direction: column
    .menu-visible
        top: 0

@media (max-width: 575px)
    .container
        width: 370px
    .header
        &__wrapper
            width: 370px
        &__logo
            margin-left: 10px
            line-height: 15px
            margin-top: 22px
            font-size: 25px
            span
                line-height: 10px
                font-size: 10px
    .projects
        &__slider
            margin-bottom: 100px
            height: 200px
    .promo
        &__moto
            padding-right: 30px
            font-size: 35px
        span
            font-size: 45px

    


    
